.calculator {
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.92);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}